body {
	font-family: 'Maven Pro', sans-serif;
	width: 760px;
	margin: 0 auto;
}

	.header {
		background-color: #2D7053;
		width: 1024px;
		height: 235px;
	}

	a {
		text-decoration: none;
		color: #FFFFFF;
	}


		.p1 {
			background-color: #FFFFFF;
			width: 130px;
			height: 130px;
			border-radius: 500px/500px;
			position: relative;
			left: 50px;
			top: 47px ;
	}

		.p2 {
			color: #FFFFFF;
			font-size: x-large;
			width: 134px;
			height: 134px;
			position: relative;
			left: 222px;
			bottom: 100px;
	}
	
	.item1, .item2, .item3 {
			width: 84px;
			height: 12px;
			background-color: #FFFFFF;
			display: block;
			border-radius: 40px/20px;
			position: relative;
			left: 880px;
			bottom: 230px;
		
	}
	.box1 {
	width: 1024px;
	height: 672px;
	background-image: url("../images/0325115cfca2f08bd19529e1d4a4396a.jpg");
	padding: 1px 0;
	background-size: 100%;
	}
	
	.button {
		width: 364px;
		background-color: #CB9223;
		color: #FFFFFF;
		font-size: x-large;
		margin: 510px 196px 60px 315px;
		padding: 29px 10px 29px 74px;
		text-decoration: none;
	
	}
	.body {
			margin: 60px 141px 0 100px;
	}
	img {
			width: 247px;
			height: 247px;
			border-radius: 500px/500px;
	}
	.name {
			width: 240px;
			height: 27px;
			font-size: xx-large;
			margin: 200px 25px 75px 570px;
	}
	.spec {
			width: 300px;
			font-size: x-large;
	}
	.text {
			width: 925px;
			font-size: x-large;
			padding: 20px 0 0;
	}
	.reasons {
			width: 646px;
			font-size: xx-large;
	}
	li {
			list-style-type: "-";
	}
	.list {
			margin: 20px 141px 75px 0;
	}
	
	.list2 {
			width: 270px;
			height: 180px;
			font-size: x-large;
			padding: 0 0 40px 0;
			margin: 0 0 0 100px;
	}
	.button2 {
			width: 364px;
		background-color: #CB9223;
		color: #FFFFFF;
		font-size: x-large;
		padding: 29px 10px 29px 74px;
		margin: 45px 210px 0 300px;
	}
	.footer {
			width: 1024px;
			height: 163px;
			background-color: #888888;
			margin: 79px 0 0 0;
	}
	.p9 {
			width: 96px;
			height: 96px;
			border-radius: 500px/500px;
			background-color: #FFFFFF;
			position: relative;
			left: 45px;
			top: 30px;
	}
	.tel {
			width: 150px;
			height: 15px;
			margin: 0 45px 0 840px;
			position: relative;
			bottom: 56px;
	}
	.gmail {
			width: 136px;
			height: 15px;
			margin: 0 45px 0 840px;
			position: relative;
			bottom: 30px;
			text-decoration: none;
	}
	.adress{
			width: 199px;
			height: 15px;
			color: #FFFFFF;
			margin: 0 45px 0 600px;
			position: relative;
			bottom: 45px;
	}
	