.container {
  margin: 0 auto;
  width: 1280px;
}

.header {
  padding-top: 61px;
  padding-bottom: 51px;
}

.page-title {
  font-size: 80px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 43px;
}

.selected {
  color: #4bcaff;
}

.top-nav-menu-item {
  display: inline-block;
}

.top-nav-menu-item a {
  display: inline-block;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
}

.top-nav-menu-item a:hover {
  background-color: #222f3a;
}

.top-nav {
  background-color: #35444f;
  text-align: center;
  height: 69px;
}

.top-nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.aside {
  margin-right: 0%;
  width: 344px;
  float: left;
  display: block;
}

.aside-nav {
  border: 1px solid black;
  width: 344px;
  height: 392px;
  margin-top: 42px;
  margin-right: 0;
}

.aside-nav-menu-item a {
  text-decoration: none;
  color: #495863;
  font-family: "Open Sans", sans-serif;
}

.aside-nav-menu-item {
  padding: 26px;
  color: black;
  list-style-type: none;
  font-size: 19px;
  font-weight: bold;
}

.aside-nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.aside-nav li a:hover {
  color: #000000;
  padding-left: 70px;
  padding: 26px;
  background-color: #b4b7ba;
  font-weight: bold;
}

.aside-nav li:hover {
  background-color: #b4b7ba;
}

.main-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-box {
  border: 1px solid black;
  width: 875px;
  height: 529px;
  margin-top: 42px;
  margin-left: 20px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text p {
  float: right;
  width: 815px;
  padding: 20px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.down-nav {
  background-color: #b4b7ba;
  text-align: center;
  float: center;
  display: flex;
  width: 1280px;
  height: 69px;
}

.footer-nav-menu-item {
  display: inline-block;
}

.footer-nav-menu-item a {
  display: inline-block;
  padding-right: 25px;
  margin: 0;
  color: #000000;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.footer-nav-menu-item a:hover {
  color: #3181a6;
  text-decoration: underline;
}

.down-nav p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 430px;
  text-align: right;
  font-size: 20px;
  margin-left: 85px;
}
